 /* section 1 */
 .content {
    display: flex;
    align-items: center;  
    background-color: #555151;
    color: white;
}
.text{
    width:80% ;
    margin-left:30px
}
.title{
    font-size: x-large;
}
.subtitle{
    font-size: larger;
}

.images {
    width: 100px;
    margin-left: 150px;
    border: 5px solid #ff8300;
}

/* section 2 */

.main{
    /* display: flex; */
    /* justify-content: space-between; */
    background-color: #ffe1c1;
}
.section1{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.box{
    padding: 0 0px 0 0px;
    width: 30%;
}
.black {
    width: 500px;
    background-color: #ff8300;
}

.section2{
    width: 250vh;
    display: flex;
    align-items: center;
}
.img_text{
    padding: 50px;
}
.temp{
    display: flex;
    column-gap: 10px;
}
.smallimg{
    width: 100px;
}

